<fieldset data-hook="mollie_payment_source">
  <legend><%= payment.source.name %></legend>
  <table class="table table-condensed table-bordered">
    <% payment.source.details.each do |key, value| %>
      <tr>
        <th width="20%"><%= key %></th>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
</fieldset>
